.main {
    background-color:#be9b7b ;
    &-sidebar { border: 1px solid; }
  }
  .search {
      margin-left: 20px;
  }
  .card-header {
    background-color: #580000;
    .btn {
        color: white;
    }
  }
.card-body {
    color: brown;
}
.testing{
    display: flex;
}

#recipeCard{
  background-color : #ffff00;
  
  justify-content: flex-start; /* center if you want to the center */
  align-items: center;
  flex-wrap: wrap;
}

.cardRecipe{
    width : 50px;
  height : 50px;
  background-color : #ff9999;
  margin : 5px;
  display: flex;
  justify-content: center; /* center inside flex items */
  align-items: center; /* center inside flex items */
}

