.main {
    background-color:#be9b7b ;
    &-sidebar { border: 1px solid; }
  }
  #recipeSearch {
      margin-left: 10px;
  }
  .card-header {
    background-color: #580000;
    .btn {
        color: white;
    }
  }
 .card-body {
    color: brown;
 }
 
 
 #searchButton  {
    background-color: #be9b7b;
 }
 #searchButton:active {
    background-color: #580000;
    transform: translateY(4px);
    text-emphasis-color: #580000;
 }
 
 #searchButton:hover {
 
    opacity:1.0;
    background-color: #580000;
 
    box-shadow:none;
 
    }
 
 // Course and Allergies Buttons
 .btn  {
    background-color: #be9b7b;
 
        .btn:hover {background-color: blue}
 }
 .btn:active {
    color: red;
    transform: translateY(4px);
 }
 //======================
 .container-fluid{
    flex-wrap:wrap;
  }
 
  .yummly {
      color:grey;
      text-transform: uppercase;
      font-size: 10px;
      font-weight:bold;
      text-align:center;
  }
  .edamam {
      text-align:center;
  }
 footer {
    background-color: #580000;
 }